/* App ///////////////////////////////////////////////////////////////////////*/

@font-face {
  font-family: "Liberation Serif";
  src: url("fonts/liberation-serif/LiberationSerif-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Liberation Serif";
  src: url("fonts/liberation-serif/LiberationSerif-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Liberation Serif";
  src: url("fonts/liberation-serif/LiberationSerif-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Liberation Serif";
  src: url("fonts/liberation-serif/LiberationSerif-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

#root {
  min-height: 100%;
}

body {
  font-size: 18px;
  font-family: "Liberation Serif", serif;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

::selection {
  background: red;
}

a {
  text-decoration: none;
}

.App {
  /* 12-column grid. */
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  column-gap: 2rem;
  height: 100vh;
}

.hidden {
  display: none;
}

.error {
  border: red solid 2px;
}

.suggestion {
  cursor: pointer;
}

input[type="text"] {
  font-family: "Liberation Serif", serif;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

input[type="text"]:focus {
  border-bottom: 2px solid red;
}

button:focus {
  border: solid red 2px;
  outline: none;
}

/* Nav ///////////////////////////////////////////////////////////////////////*/

nav {
  grid-column-start: 1;
  grid-column-end: 3;
  border: red solid 2px;
}

nav > h1 {
  font-size: 1.6rem;
}

nav > ul {
  list-style: none;
  padding: 0;
}

nav > ul > li > a > p {
  padding: 0;
  margin: 0;
}

nav > ul > li > p {
  padding: 0;
  margin: 0;
}

nav > ul > li > ul > li > a > p {
  padding: 0;
  margin: 0;
}

nav > ul > li:hover {
  background-color: red;
}

nav > ul > li > ul > li:hover {
  background-color: yellow;
}

nav > ul > li > ul {
  list-style: none;
  padding: 0;
}

.Vocabulary, .Build, .Games, .HinkyPinky, .HangMan, .Fill, .Loading {
  grid-column-start: 4;
  grid-column-end: 12;
  border: blue solid 2px;
}

/* Vocabulary ////////////////////////////////////////////////////////////////*/

.VocabularyCard {
  border: 2px solid black;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.VocabularyCard input[type="text"] {
  width: 100%;
}

/* Build /////////////////////////////////////////////////////////////////////*/

/* HinkyPinky ////////////////////////////////////////////////////////////////*/

/* HangMan ///////////////////////////////////////////////////////////////////*/

/* Fill //////////////////////////////////////////////////////////////////////*/