/* App ///////////////////////////////////////////////////////////////////////*/

body {
  font-size: 16px;
  font-family: serif;
}

.App {
  /* 12-column grid. */
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  column-gap: 2rem;
}

/* Nav ///////////////////////////////////////////////////////////////////////*/

nav {
  grid-column-start: 1;
  grid-column-end: 3;
  border: red solid 2px;
}

nav > h1 {
  font-size: 1.3rem;
}

.Vocabulary, .Build, .Games, .HinkyPinky, .HangMan, .Fill, .Loading {
  grid-column-start: 4;
  grid-column-end: 12;
  border: blue solid 2px;
}

/* Vocabulary ////////////////////////////////////////////////////////////////*/

/* Build /////////////////////////////////////////////////////////////////////*/

/* HinkyPinky ////////////////////////////////////////////////////////////////*/

/* HangMan ///////////////////////////////////////////////////////////////////*/

/* Fill //////////////////////////////////////////////////////////////////////*/