/* App ///////////////////////////////////////////////////////////////////////*/

@font-face {
  font-family: "Liberation Serif";
  src: url("fonts/liberation-serif/LiberationSerif-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Liberation Serif";
  src: url("fonts/liberation-serif/LiberationSerif-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Liberation Serif";
  src: url("fonts/liberation-serif/LiberationSerif-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Liberation Serif";
  src: url("fonts/liberation-serif/LiberationSerif-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

#root {
  min-height: 100%;
}

body {
  font-size: 18px;
  font-family: "Liberation Serif", serif;
  color: #2f2722;
  background: #ffffff;
}

h2 {
  font-size: 1.9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

::selection {
  background: rgba(254, 62, 60, 0.4);
}

a {
  text-decoration: none;
}

.prompt {
  color: rgba(47, 39, 34, 0.8);
  font-style: italic;
}

.App {
  /* 12-column grid. */
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  column-gap: 2rem;
  height: 100vh;
}

.hidden {
  display: none;
}

.error {
  border: rgba(254, 62, 60, 0.4);

}

.suggestion {
  cursor: pointer;
}

input[type="text"], textarea {
  font-family: "Liberation Serif", serif;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid rgba(47, 39, 34, 0.1);
  outline: none;
}

textarea {
  resize: none;
  overflow: hidden;
}

.textarea, .textareaHidden {
  width: 100%;
  min-height: 2rem;
  font-family: "Liberation Serif", serif;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid rgba(47, 39, 34, 0.1);
  outline: none;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

.textareaHidden {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

input[type="text"]:focus, textarea:focus {
  border-bottom: 2px solid rgba(254, 62, 60, 0.6);
}

button:focus {
  border: 2px solid rgba(47, 39, 34, 1);
  outline: none;
}

/* Nav ///////////////////////////////////////////////////////////////////////*/

nav {
  grid-column-start: 1;
  grid-column-end: 3;
  border: none;
  border-right: 2px solid rgba(47, 39, 34, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

nav a {
  color: rgba(47, 39, 34, 0.8);
}

nav > ul > li {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

nav > h1 {
  font-size: 1.6rem;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 2px solid rgba(47, 39, 34, 0.2);
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

nav p {
  margin: 0;
}

nav > ul > li:hover, nav > ul > a::selection {
  background-color: rgba(47, 39, 34, 0.2);
}

.Vocabulary, .Build, .Games, .HinkyPinky, .HangMan, .Fill, .Loading {
  grid-column-start: 4;
  grid-column-end: 12;
}

.Score {
  justify-self: flex-end;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.searchbar {
  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.searchbarForm > button {
  border-radius: 50%;
  border: none;
  padding: 0.3rem;
  cursor: pointer;
  background-color: rgba(47, 39, 34, 0.2);
}

.searchbarForm {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-content: center;
}

/* Vocabulary ////////////////////////////////////////////////////////////////*/

.VocabularyCard {
  border: 2px solid rgba(47, 39, 34, 0.2);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.VocabularyCard > h3:hover .delete-card {
  color: rgba(47, 39, 34, 1);
}

.delete-card {
  float: right;
  color: rgba(47, 39, 34, 0.2);
  cursor: pointer;
}

/* .VocabularyCard ul {
  list-style: none;
} */

/* Build /////////////////////////////////////////////////////////////////////*/

/* HinkyPinky ////////////////////////////////////////////////////////////////*/

/* HangMan ///////////////////////////////////////////////////////////////////*/

/* Fill //////////////////////////////////////////////////////////////////////*/